{% extends "base.twig" %}
{% set admin = 'active-admin' %}
{% block title %} {{ parent() }} Administration | produit {% endblock %}
{% block contenu %}
    <div class="sec1-title d-flex w-100 justify-content-center p-5">
        <h1><i class="bi bi-cart-fill"></i> Liste des produits</h1>
    </div>
    <div class="table-responsive w-75 m-auto">
    <div class="container text-center">
        <div class="row row-cols-4 gap-5 justify-content-center align-items-center">
            {% for p in liste %}
                {% if p.deleteAt == null %}
                    <div class="card p-0" style="width: 18rem;">
                        <div class="banner-img-article">
                            {% if p.miniature == null %}
                                <div class="bg-no-minia justify-content-center align-items-center d-flex">
                                    <i class="bi bi-image-fill" style="font-size: 5rem;"></i>
                                </div>
                            {% else %}
                                <img src="{{p.miniature}}" class="card-img-top" alt="...">
                            {% endif %}
                        </div>
                            <div class="card-body">
                                <h5 class="card-title title-card-product">{{p.title}}</h5>
                            </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">prix : {{p.prix}} €</li>
                            <li class="list-group-item">Type : {{p.libelletype}}</li>
                            <li class="list-group-item">dernière modification le : <br>{{p.updateAt}}</li>
                        </ul>
                        <div class="card-body">
                            <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete-modal" data-bs-id="{{p.id}}" data-bs-name="{{p.title}}">Supprimer</button>
                                <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#editModalProduit" data-bs-id="{{p.id}}" data-bs-name="{{p.title}}" data-bs-prix="{{p.prix}}" data-bs-description="{{p.description}}" data-bs-type="{{p.libelletype}}" data-bs-miniature="{{p.miniature}}" data-bs-stock="{{p.stock}}" data-bs-caracteristiques="{{p.caracteristiques}}">Modifier</button>
                                <a class="btn btn-success" href="index.php?page=show-produit&id={{p.id}}">Voir</a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            <button type="button" class="max-content-height btn btn-primary btn-lg d-flex justify-content-center align-items-center" style="width: 18rem;" data-bs-toggle="modal" data-bs-target="#addModalProduit">
                <div>
                    <i class="bi bi-plus-circle-fill" style="font-size: 4rem;"></i>
                    <h4>Ajouter un article</h4>
                </div>
            </button>
        </div>
    </div>



    <div class="modal fade" id="delete-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog alert-danger">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">Vous allez supprimer un produit</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="modal-body">
                        <p>Attention vous allez supprimer le produit :<br><b id="product-delete-name"></b> !<br>Les clients et vous ne verrez donc plus le produit.</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                    <a id="btn-delete-product" href="#" class="btn btn-danger">Supprimer</a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="delete-image-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog alert-danger">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">Voulez-vous vraiment suprimer cette image ?</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                    <a id="btn-delete-image" href="#" class="btn btn-danger">Supprimer</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Ajout -->
    <div class="modal fade" id="addModalProduit" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header border-0">
                    <h5 class="modal-title">Ajouter un produit</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                    <form action="index.php?page=admin-produit-add" method="post" enctype="multipart/form-data">
                        <div class="modal-body row g-2">
                            <div class="col-md-8">
                                <label for="nom" class="form-label">Nom<span class="text-danger">*</span></label>
                                <input name="nom" type="text" class="form-control" id="nom" placeholder="Nom du produit" required>
                            </div>
                            <div class="col-md-4">
                                <label for="prix" class="form-label">prix<span class="text-danger">*</span></label>
                                <input step="0.01" name="prix" type="number" class="form-control" id="prix" placeholder="prix du produit" required>
                            </div>
                            <div class="col-12">
                                <label for="description">Description<span class="text-danger">*</span></label>
                                <textarea name="description" class="form-control" placeholder="Description du produit" id="description" style="height: 100px" required></textarea>
                            </div>
                            <div class="col-12">
                                <label for="caracteristiques">Caractéristique (séparer les données par des //)</label>
                                <textarea name="caracteristiques" class="form-control" placeholder="Caracteristiques du produit : donnée1//donnée2//..." id="caracteristiques" style="height: 100px"></textarea>
                            </div>
                            <div class="col-md-4">
                                <label for="inputState" class="form-label">Type<span class="text-danger">*</span></label>
                                <select class="form-select" aria-label="Default select example" name="type" required>
                                    <option selected value="0">Type du produit<span class="text-danger">*</span></option>
                                    {% for t in type %}
                                        <option value="{{ t.id }}">{{ t.libelle }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-8">
                                <label for="formFile" class="form-label">Miniature du produit</label>
                                <input name="miniature" class="form-control" type="file" id="formFile">
                            </div>
                            <div class="col-md-4">
                                <label for="stock" class="form-label">Stock de départ</label>
                                <input step="1" name="stock" type="number" value="0" class="form-control" id="stock" placeholder="Stock de départ">
                            </div>
                            <p class="pb-4"><span class="text-danger">*</span> Signifie que ce champ est obligatoire</p>
                        </div>
                        <div class="modal-footer border-0">
                            <button type="button" class="btn btn-light" data-bs-dismiss="modal">Annuler</button>
                            <button type="submit" name="btnAdd" class="btn btn-primary">Ajouter</button>
                        </div>
                    </form>
            </div>
        </div>
    </div>


    <!-- Modal Edit -->
    <div class="modal fade" id="editModalProduit" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header border-0">
                    <h5 class="modal-title">Modifier un produit</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="index.php?page=admin-produit-edit" method="post" id="product-edit-form" enctype="multipart/form-data">
                    <div class="modal-body row g-2">
                        <div class="col-md-8">
                            <label for="nom" class="form-label">Nom</label>
                            <input name="nom" type="text" class="form-control" id="nom" placeholder="Nom du produit" required>
                        </div>
                        <div class="col-md-4">
                            <label for="prix" class="form-label">prix</label>
                            <input step="0.01" name="prix" type="number" class="form-control" id="prix" placeholder="prix du produit" required>
                        </div>
                        <div class="col-12">
                            <label for="description">Description</label>
                            <textarea name="description" class="form-control" placeholder="Description du produit" id="description" style="height: 100px" required></textarea>
                        </div>
                        <div class="col-12">
                                <label for="caracteristiques">Caractéristique (séparer les données par des //)</label>
                                <textarea name="caracteristiques" class="form-control" placeholder="Caracteristiques du produit : donnée1//donnée2//..." id="caracteristiques" style="height: 100px"></textarea>
                            </div>
                        <div class="col-md-4">
                            <label for="inputState" class="form-label">Type</label>
                            <select class="form-select" aria-label="Default select example" name="type" required>
                                <option value="0" selected>Choisir un type</option>
                                {% for t in type %}
                                    <option value="{{ t.id }}">{{ t.libelle }}</option>
                                {% endfor %}
                            </select>
                            <small><i>Type actuel : <b id="textSelectType"></b></i></small>
                        </div>
                        <div class="col-md-8 pb-4" id="miniature-content"></div>
                        <div class="col-md-4">
                            <label for="stock" class="form-label">Stock de départ</label>
                            <div class="input-group mb-3 quantity-group">
                                <button class="btn btn-outline-secondary btn-minus" type="button">-</button>
                                <input step="1" min="0" name="stock" type="number" value="0" class="form-control" id="stock" placeholder="Stock de départ">
                                <button class="btn btn-outline-secondary btn-plus" type="button">+</button>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer border-0">
                        <button type="button" class="btn btn-light" data-bs-dismiss="modal">Annuler</button>
                        <button type="submit" name="btnEdit" class="btn btn-primary">Modifier</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}