{% extends "base.twig" %}
{% set admin = 'active-admin' %}
{% block title %} {{ parent() }} Administration | utilisateur {% endblock %}
{% block contenu %}

{% if form.delete_succes is defined %}
    <p>Test</p>
    {% else %}
    <p>y a pas</p>
{% endif %}

    {% if form.delete_succes is defined %}
        <div id="liveAlertPlaceholder"></div>
        {% if form.delete_succes %}
            <script>
                const alertPlaceholder = document.getElementById('liveAlertPlaceholder')
                appendAlert = (message, type) => {
                    const wrapper = document.createElement('div')
                    wrapper.innerHTML = [
                    `<div class="alert alert-${type} alert-dismissible" role="alert">`,
                        `   <div>${message}</div>`,
                        '   <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>',
                        '</div>'
                    ].join('')
                    alertPlaceholder.append(wrapper)
                }
                appendAlert('Produit supprimé avec succès !', 'success');
            </script>
        {% else %}
            <script>
                const alertPlaceholder = document.getElementById('liveAlertPlaceholder')
                appendAlert = (message, type) => {
                    const wrapper = document.createElement('div')                        wrapper.innerHTML = [
                        `<div class="alert alert-${type} alert-dismissible" role="alert">`,
                        `   <div>${message}</div>`,
                        '   <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>',
                        '</div>'
                    ].join('')
                    alertPlaceholder.append(wrapper)
                }
                appendAlert('Erreur : {{ form.message }}', 'danger');
            </script>
        {% endif %}
    {% endif %}

    <div class="sec1-title d-flex w-100 justify-content-center p-5">
        <h1><i class="bi bi-people-fill"></i> Liste des types</h1>
    </div>
    <div class="table-responsive w-75 m-auto">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Type</th>
            <th scope="col">Nombre de produit</th>
            <th scope="col">Dernière modification</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        {% for t in liste %}
            <tr class="align-items-center">
                {% if t.deleteAt == null %}
                    <td>{{t.libelle}}</td><td>fgdgfdfgdfg</td><td>{{t.updateAt}}</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModalType" data-bs-idAddType="{{t.id}}" data-bs-nameType="{{t.libelle}}">Supprimer</button>
                            <a href="index.php?page=user-edit&id={{u.id}}" class="btn btn-warning">Modifier</a>
                            <button type="button" class="btn btn-success">Voir</button>
                        </div>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        <tr>
            <td colspan="4" class="text-center">
                <button type="button" class="btn btn-primary w-100 align-items-center d-flex justify-content-center" data-bs-toggle="modal" data-bs-target="#add-type-modal"><i class="bi bi-plus-circle-fill m-2" style="font-size: 1.5rem;"></i>Ajouter un type</button>
            </td>
        </tbody>
    </table>


    <div class="modal fade" id="deleteModalType" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog alert-danger">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">Vous allez supprimer un type</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label for="libelle" class="col-form-label">Nom du type:</label>
                            <input type="text" class="form-control" id="libelle">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                    <a id="btn-delete-type" href="#" class="btn btn-danger">Supprimer</a>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="addModalType" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog alert-danger">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">Vous allez supprimer un type</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="modal-body">
                        <p>Attention vous allez supprimer le type :<br><b id="type-add-name"></b> !<br>Les clients et vous ne verrez donc plus ce type.</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                    <a id="btn-add-type" href="#" class="btn btn-danger">Supprimer</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}